---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

// This function tells Astro to create a page for every entry in the 'idea' collection.
export async function getStaticPaths() {
  const posts = await getCollection('idea');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

// Get the specific post data for this page from Astro's props
const post = Astro.props;
const { Content } = await post.render();
---
<Layout title={post.data.title} pageTitle="IDEA">
	<article class="prose">
		<p>
			<time datetime={post.data.pubDate.toISOString()}>
				{post.data.pubDate.toLocaleDateString('en-US', {
					year: 'numeric',
					month: 'long',
					day: 'numeric',
				})}
			</time>
		</p>
		<hr>
		<Content />
	</article>
</Layout>

<style>
	.prose {
		max: width 100%;;
		margin: 0 auto;
	}
	.prose :global(h2) { /* Styles for h2 inside the Markdown content */
		margin-top: 2em;
		padding-bottom: 0.5em;
		border-bottom: 1px solid var(--border-color);
	}
	.prose :global(p) {
		line-height: 1rem;
	}
	.title {
		font-size: clamp(1rem, 8vw, 2rem);
		font-family: var(--font-family-main);
		margin-bottom: 1rem;
		line-height: 1.2;
	}
	.description {
		font-size: 1rem;
		opacity: 0.8;
		margin-bottom: 1rem;
	}
</style>