---
import Layout from "../layouts/Layout.astro";
import RepoCard from "../components/RepoCard.astro";
---

<Layout title="CODE" pageTitle="CODE">
  <div class="project-list">
    <RepoCard
      href="https://github.com/ragman53/GoiDev"
      title="GoiDev"
      description="PDF Viewer with word flashcards for language learners"
      languages={["Rust", "TypeScript", "Tauri", "Svelte"]} 
	/>
  </div>

  <div class="project-list">
    <RepoCard
      href="https://github.com/ragman53/chikob"
      title="Chikob Portfolio"
      description="The source codes for this portfolio website"
      languages={["TypeScript", "Astro", "HTML&CSS", "Three.js"]}
    />
  </div>
</Layout>

<style>
  .project-list {
    width: 100%;
    display: grid;
    gap: 1.5rem;
  }
</style>
