---
import Layout from '../layouts/Layout.astro';
import LogoParticles from '../components/LogoParticles.astro';
import logoSrc from '../assets/footwork-picnic-logo.svg';
---
<Layout title="CHIKOB" pageTitle="CHIKOB">
	<div class="hero-section">
		<LogoParticles src={logoSrc.src} alt="Interactice Logo"/>
	</div>
</Layout>

<style>
	.hero-section {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1; /* Make it take up vertical space */
	}
</style>