---
interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;
const menuItems = [
  { name: "CHIKOB", href: "/" },
  { name: "IDEA", href: "/idea" },
  { name: "CRAFT", href: "/craft" },
  { name: "CODE", href: "/code" },
  { name: "WHO", href: "/who" },
];
const inactiveItems = menuItems.filter((item) => item.name !== pageTitle);
---

<div class="nav-container">
  <nav class="top-nav">
    <ul class="menu-list" transition:name="menu-list">
      {
        inactiveItems.map((item) => (
          <li>
            <a href={item.href}>{item.name}</a>
          </li>
        ))
      }
    </ul>
  </nav>
  <div class="display-area">
    <span class="page-title" transition:name="page-title">{pageTitle}</span>
  </div>
</div>

<style>
  .nav-container {
    padding-top: 0.2rem;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-background);
  }
  .nav-container::after {
    content: '';
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(
      to bottom, var(--color-background), transparent
    );
    pointer-events: none;
  }
  .top-nav {
    height: clamp(1rem, 3vw, 1.2rem);
    display: flex;
    align-items: center;
    /*{ border-bottom: 2px solid var(--border-color); */
  }
  .menu-list {
    /* Simplified Selector */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .top-nav a {
    color: var(--color-foreground);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    opacity: 0.7;
    transition: opacity 0.2s;
    font-size: clamp(0.7rem, 2.5vw, 1.0rem);
  }
  .top-nav a:hover {
    opacity: 1;
  }
  .display-area {
    margin-top: 0.1rem;
    text-align: center;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .page-title {
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: clamp(0.8rem, 2.5vw, 1rem);
  }
  .top-nav a, .page-title {
    font-family: var(--font-family-heading);
  }
  @media (max-width: 600px) {
    .menu-list {
      justify-content: space-around;
    }
    .display-area {
      margin-top: 0.2rem;
      min-height: 30px;
    }
  }
</style>
